/* Acá va tu código */
body{
	background-image: url(topsecret.jpg);
}
#cifrar-btn{
	background-color:#4B0082;
	border:none;
	color:whitesmoke;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display:inline-block;
	font-size: 16px;
	margin:4px 2px;
	cursor: pointer;
	font-family: Open Sans;
}
#descifrar-btn{
	background-color:#4B0082;
	border:none;
	color:whitesmoke;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display:inline-block;
	font-size: 16px;
	margin:4px 2px;
	cursor: pointer;

}
#compartir{
	background-color:#9966CC;
	border:none;
	color:#2F4F4F;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display:inline-block;
	font-size: 16px;
	margin:4px 2px;
	cursor: pointer;
}
#btn-nvo-msj{
	background-color:#D3D3D3;
	border:none;
	color:#2F4F4F;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display:inline-block;
	font-size: 16px;
	margin:4px 2px;
	cursor: pointer;
}
#mensaje{
	width: 400px;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border:2px solid #440962;
	border-radius: 4px;
	background-color: transparent;
	font-size: 25px;
	resize:none;
}
#clave{
	background-color: #D8BFD8;
	padding:15px 32px;
	width: 220px;
	text-align: right;
}
input::webkit-input-placeholder{
	color:black;

}
input:moz-placeholder{
color:black;
}
input:-ms-input-placeholder{
color:black;
}
input::placeholder{
	color:#B22222;
	font-size: 19px;
}
#parrafo{
	font-size: 30px;
}
#destacado{
	color:#390C4F;
	
}
#primero{
	color:gold;
	background-color: red;
}
#celeste{
	background-color: aqua;
}
h1{
	color:#24143C;
	font-size: 50px;
}